.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img {
    max-width: 100%;
}

html, body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5em;
    overflow-x: hidden;
}

.width-setter {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    width: 80%;
}

header {
    background: #333;
    background: -webkit-linear-gradient(top, #333 0%, #666 100%);
    background: -moz-linear-gradient(top, #333 0%, #666 100%);
    background: -o-linear-gradient(top, #333 0%, #666 100%);
    background: -ms-linear-gradient(top, #333 0%, #666 100%);
    background: linear-gradient(top, #333 0%, #666 100%);
}
header .width-setter {
    color: #fff;
}
header .title {
    margin-left: -40px;
    padding: 10px 30px 10px 50px;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 600;
    text-shadow: 0 1px 2px #000;
}
header .title:before {
    content: "";
    display: block;
    float: left;
    margin-left: -24px;
    margin-top: 14px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #fc0;
    background: -webkit-linear-gradient(top, #cc0 0%, #990 100%);
    background: -moz-linear-gradient(top, #cc0 0%, #990 100%);
    background: -o-linear-gradient(top, #cc0 0%, #990 100%);
    background: -ms-linear-gradient(top, #cc0 0%, #990 100%);
    background: linear-gradient(top, #cc0 0%, #990 100%);
}

#main {
    background: #fff;
    color: #666;
}

#main .width-setter {
    background: url("rough_diagonal.png"), #eee;
    -webkit-box-shadow: inset -3px 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset -3px 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset -3px 0 6px rgba(0, 0, 0, 0.1);
}

#articles {
    float: left;
    margin-left: -40px;
    padding: 10px 50px 10px 50px;
    width: 60%;
    background: #fff;
    -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.1);
}

#sidebar {
    float: left;
    width: 30%;
    padding: 15px 0;
}
#sidebar section {
    margin: 30px 40px;
}
#sidebar h3:before {
    display: block;
    float: left;
    margin-left: -24px;
    margin-top: 4px;
    width: 16px;
    height: 16px;    
}
#sidebar #tweets h3:before {
    margin-top: 3px; /* Why? */
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAACXlBMVEV3t9C42+nR6fO53Op4t8+u1uXt+f2u1eW93+zg9Pq+3+y63uuMwMyLwMyHu8il2uNqo7Oi2eKi2eFqpLM2fJJoorGDucXT6vPS6fPp9vzr+P3s+P3r9/zq9/zY7/jZ7/jY7/fZ8Pjd8/rh9/zZ8PfU7fXa8fjc9PnU7fbb8/nF3uysyODW7vbV7faz2ufT7fXT7vW42OmuzuPZ8fbX8fbU8Pa61+giX6gTV6SewNva9PjL6PKs1uPM6vLP7fOqz+MlcbZLi8Oexd/Z8vZSisELbbkggsUgcrmiy+PW8/bN6/Os1eOl0t/H6PHD5u7E5e45hsIOeMEYeL9Sk8kfdr4fiMoih8kVgcdLm8+nzeG93+yn0+CgztzC5u664evF6O5wrNQWfcQlkdAWgsgfh8sijM0hi8wkjc0ahcojcrir0eOl0t6by9i+5e234Om54uqhz+I8lc4ej9AmldIjk9EiktEkk9EekNA5ntWNxd+54OqczNmYydax3Oeo1eO85enJ7+6Qw9sgisslm9YlmNUmmdUblNSAxeDA5um24eqWyNWTxtKx3udtrNFdpdJprNVAjMgdhsonoNsmntoindodm9pjud6v3eWo2eOy3+iSxdKOws+v3uei1uFktNoomtcamtojpeAkpN4opd4+rd54xeCq2uKn2OKk1+Gt3eaPw8+n2uOg1d+r3OGf2OGGzeFyxOB1xuCKzeCg1uCo2OCg1eCf1N+o2uOUz9qW0NyY0duc09uf1Nye1Nyc09yX0dyV0NyY0dyh0tue1uCd1uCe1+Cf1+CCt8ODucWBt8NQYFvnAAAAF3RSTlMv0v7SL8/9z/7+/v7+/v7+z/39zy/S/j1o8wwAAAAJcEhZcwAAAEgAAABIAEbJaz4AAAETSURBVBjTY2BgFGeSgAImcWYWBlZJNilpEJCRlZJik2Rn4OCUk1dQVFRUUFJWVJTj5GLgVlFVU9dQVdXU0lbV0VXhZtDTNzA0MjYxNTO3sLSyNtBjsLG1s3dwdHJ2cXVz9/D08mbw8fXzDwgMCg4JDQuPiIyKZoiJjYtPSExKTklNS8/IzMpmyMnNyy8oLCouKS0rr6isqmaoqa2rb2hsam5pbW1r7+jsYuju6e3rnzBx0uQpU6dNnzFzFsPsOXPnzV+wcNHiJUuXLV+xchUDz+o1a9et37Bx0+Yta7Zu287LwMe/Y+eu3Xv27tt/YP/BHfx8DAKHBA8fPnLkyOGjx44dFjokzCAielzsBBSInRQVAQBVF2Bq/HL64QAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxMi0wNC0xMFQyMzo0MDo0My0wNzowMCi2RMwAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTItMDQtMTBUMjM6NDA6NDMtMDc6MDBZ6/xwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAABJRU5ErkJggg==");
}
#sidebar #recent h3:before {
    content: "";
    border-radius: 2px;  
    background: -webkit-linear-gradient(top, #9c0 0%, #690 100%);
    background: -moz-linear-gradient(top, #9c0 0%, #690 100%);
    background: -o-linear-gradient(top, #c60 0%, #930 100%);
    background: -ms-linear-gradient(top, #c60 0%, #930 100%);
    background: linear-gradient(top, #c60 0%, #930 100%);
}

h1 {
    font-size: 1.4em;
    margin-top: 30px;
    margin-bottom: 0;
}
h1:before {
    content: "";
    display: block;
    float: left;
    margin-left: -24px;
    margin-top: 4px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}
#articles :nth-child(3n+1) h1:before {
    background: #fc0;
    background: -webkit-linear-gradient(top, #fc0 0%, #f90 100%);
    background: -moz-linear-gradient(top, #fc0 0%, #f90 100%);
    background: -o-linear-gradient(top, #fc0 0%, #f90 100%);
    background: -ms-linear-gradient(top, #fc0 0%, #f90 100%);
    background: linear-gradient(top, #fc0 0%, #f90 100%);
}
#articles :nth-child(3n+2) h1:before {
    background: #0cc;
    background: -webkit-linear-gradient(top, #0cc 0%, #099 100%);
    background: -moz-linear-gradient(top, #0cc 0%, #099 100%);
    background: -o-linear-gradient(top, #0cc 0%, #099 100%);
    background: -ms-linear-gradient(top, #0cc 0%, #099 100%);
    background: linear-gradient(top, #0cc 0%, #099 100%);
}
#articles :nth-child(3n+3) h1:before {
    background: #c60;
    background: -webkit-linear-gradient(top, #c60 0%, #930 100%);
    background: -moz-linear-gradient(top, #c60 0%, #930 100%);
    background: -o-linear-gradient(top, #c60 0%, #930 100%);
    background: -ms-linear-gradient(top, #c60 0%, #930 100%);
    background: linear-gradient(top, #c60 0%, #930 100%);
}

time {
    font-size: 0.9em;
    color: #999;
}

footer {
    background: #333;
    background: -webkit-linear-gradient(top, #666 0%, #333 100%);
    background: -moz-linear-gradient(top, #666 0%, #333 100%);
    background: -o-linear-gradient(top, #666 0%, #333 100%);
    background: -ms-linear-gradient(top, #666 0%, #333 100%);
    background: linear-gradient(top, #666 0%, #333 100%);
}
footer .width-setter {
    color: #fff;
    text-shadow: 0 1px 1px #000;
}
footer .content {
    margin-left: -40px;
    padding: 10px 30px 10px 50px;
    font-style: oblique;
}
footer .content:before {
    content: "";
    display: block;
    float: left;
    margin-left: -24px;
    margin-top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #fc0;
    background: -webkit-linear-gradient(top, #66f 0%, #33c 100%);
    background: -moz-linear-gradient(top, #66f 0%, #33c 100%);
    background: -o-linear-gradient(top, #fc0 0%, #f90 100%);
    background: -ms-linear-gradient(top, #fc0 0%, #f90 100%);
    background: linear-gradient(top, #fc0 0%, #f90 100%);
}


a:link {
    color: #333;
}
a:visited {
    color: #333;
}
a:hover {
    color: #999;
}
a:active {
    color: #000;
}

@media screen and (max-width: 960px) {
    .width-setter {
        width: 100%;
        margin-left: 60px;
    }
}

@media screen and (max-width: 767px) {
    header .title {
        padding: 10px 10px 10px 50px;
        font-size: 2em;
    }
    header .title:before {
        margin-top: 12px;
    }

    .width-setter {
        width: 85%;
        margin: 0 auto;
    }
    
    #main .width-setter {
        background: #fff;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    #articles {
        float: none;
        padding: 10px 10px 10px 50px;
        width: auto;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    #sidebar {
        float: none;
        width: auto;
        margin: 30px -30px 0 -30px;
        background: url("rough_diagonal.png"), #eee;
        border: 1px solid #ccc;
    }
    
    footer .content {
        padding: 10px 10px 10px 50px;
    }        
}
