doctype html

html
  head
    meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0;")
    script(src="http://use.typekit.com/odv1kle.js")
    script
      try{Typekit.load();}catch(e){}
    link(rel="stylesheet", type="text/css", href="styles.css")
  
  body
    header
      .width-setter
        .title NOT WEB SAFE
        
    section#main.clearfix
      .width-setter.clearfix
        section#articles
          !{content}
        aside#sidebar
          section#tweets
            h3: a(href="http://twitter.com/notwebsafe") @notwebsafe
            div Tweet 1
            div Tweet 2
            div Tweet 3
            div Tweet 4
            div Tweet 5
          section#recent
            h3 Recent
            div: a(href="#") Food truck fingerstache artisan
            div: a(href="#") Helvetica truffaut keytar
            div: a(href="#") Irony butcher iphone
    
    footer
      .width-setter
        .content Narciso (nj) Jaramillo
    
    script
      function randWebSafeColor() {
        var hexes = ["0", "3", "6", "9", "c", "f"], result = "#", i;
          for (i = 0; i < 3; i++) {
            result += hexes[Math.floor(Math.random() * 6)];
          }
        return result;
      }
        
      function makeGradientRule(selector) {
        var gradient = "", gradientBody = "(left, ", color;
        for (var i = 0; i <= 16; i++) {
          gradientBody += (i == 0 ? "" : ", ") + randWebSafeColor() + " " + String(i * 100.0 / 16.0) + "%";
        }
        gradientBody += ")";
            
        var prefixes = ["-webkit-", "-moz-", "-o-", "-ms-", ""];
        for (i in prefixes) {
          gradient += "background: " + prefixes[i] + "linear-gradient" + gradientBody + "; ";
        }
            
        var rule = selector + ' { content: ""; display: block; height: 4px; ' + gradient + ' }';
        return rule;
      }
        
      document.styleSheets[0].insertRule(makeGradientRule("header:after"));
      document.styleSheets[0].insertRule(makeGradientRule("footer:before"));
